@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&display=swap");

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.8rem;
  z-index: 10;
  font-size: 2rem;
  font-weight: bold;

  background-color: rgb(35, 35, 35);
}

.link {
  text-decoration: none;
  color: #fff;
  font-size: 2.4rem;
  transition: all 0.3s ease-in-out;
}

.link:hover {
  color: rgb(205, 173, 114);
}
.navbar-favorites {
  font-family: "Lato", sans-serif;
}

@media screen and (max-width: 400px) {
  .link {
    font-size: 1.6rem;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&display=swap");

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.8rem;
  z-index: 10;
  font-size: 2rem;
  font-weight: bold;

  background-color: rgb(35, 35, 35);
}

.link {
  text-decoration: none;
  color: #fff;
  font-size: 2.4rem;
  transition: all 0.3s ease-in-out;
}

.link:hover {
  color: rgb(205, 173, 114);
}
.navbar-favorites {
  font-family: "Lato", sans-serif;
}

@media screen and (max-width: 400px) {
  .link {
    font-size: 1.6rem;
  }
}
